wod {
    width: 100%;
}

.wod-spinner {
    position: fixed; 
    top: 50%; 
    left: 50%;
}

.wod-results { 
    display: inline-block; 
    vertical-align: middle;
}

.img-headshot {
    border-radius: 50px;
    border-width: 0px;
    text-align: center;
    height: 100px;
    width: 100px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

.wod-results-container {
    padding: 5px 15px 5px 5px; 
    justify-content: space-between; 
    align-items: center;
}

md-card {
    margin: 20px;
}

.wod-flex-item {
    width: 500px;
}

.wod-media-upload-container {
    display: table;
    height: 100px;
    width: 90%;
    margin: auto;
    columns: 1;
}

.wod-media-upload-container:hover {
    background-color: rgba(21, 150, 7, .2);
    cursor: pointer;
}

.wod-media-contents-list {
    padding: 10px 0;
}

.wod-media-upload-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
}

:host /deep/ .wod-media-contents-list-item.mat-list-item .mat-list-item-content {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:host /deep/ .wod-media-contents-list-item.mat-list-item img {
    width: 200px;
}

:host /deep/ .wod-media-contents-list-item.mat-list-item i:hover {
    cursor: pointer;
}