wod {
    width: 100%;
}

md-card {
    margin-left: auto;
    margin-right: auto;
}

.wod-spinner {
    position: fixed; 
    top: 50%; 
    left: 50%;
}

.wod-results {
    width: 70%; 
    display: inline-block; 
    vertical-align: middle;
}

.img-headshot {
    border-radius: 50px;
    border-width: 0px;
    text-align: center;
    height: 100px;
    width: 100px;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}