/* You can add global styles to this file, and also import other style files */
body, html {
    font-family: Roboto,"Helvetica Neue",sans-serif !important;
}

.home-div {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.droppable-hover {
    background-color: rgba(21, 150, 7, .2);
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.position-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.position-bottom-parent {
    position: relative;
}

.vertical-flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

md-card {
    width: auto;
    display: inline-block;
    margin: 50px;
}

.flex-item {
    display: inline-block;
}